body {
    /*background: url(https://santi4sound.files.wordpress.com/2016/06/scuffedstatic_blue1400x900.jpg?w=1200);*/
    /*background: url(http://cloudberrystudio.ru/ff/4/zemlya_galaktika_luna_planety_zvezdy_1920x1080.jpg);*/
    /*background: url(http://cdn.wallpapersafari.com/97/64/HpQw0A.jpg);*/
    /*background: url(https://wallpaperscraft.com/image/planet_universe_galaxy_stars_flash_59622_1920x1080.jpg);*/
    /*background: url(http://cdn.wallpapersafari.com/43/15/5o9ITa.jpg);*/
    /*background: url(http://7-themes.com/data_images/out/38/6898663-beautiful-cosmos-wallpaper.jpg);*/
    background: url(http://samsung-wallpapers.com/uploads/allimg/130630/1-130630100210.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.block-tweet {
    height: 500px;
    width: 650px;
    word-break:break-all;
}

.dropdown-menu{
    background: #6d6f70;
}

.dropdown-menu li > a:hover{
    background: #6d6f70;
}

#navbar span, #navbar a, a, h1, h3, h4, p, label {
    color: white;
}

li {
    list-style-type: none;
}
.white {
    color: white;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 80px;
}

.hidden {
    display: none;
}
.curs {
    cursor: pointer;
}
.block-link a {
    display: block; /* Ссылка как блочный элемент */
    height: 100%; /* Высота на весь слой */
    /*color: #666; !* Цвет ссылки *!*/
}
.block-background {
    background: rgba(177, 175, 168, 0.5); /* Цвет фона */
    /*background: rgba(126, 124, 119, 0.5); !* Цвет фона *!*/
    color: #fff; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 10px;
}

.feed-link a {
    text-align: left;
    display: block; /* Ссылка как блочный элемент */
    height: 100%; /* Высота на весь слой */
    /*color: #666; !* Цвет ссылки *!*/
}

.block-sms {
    height: 500px;
    /*width: 700px;*/
    overflow: scroll;
    word-break:break-all;
    overflow-x:hidden;
}
.preloader-modal-tweet {
    position: absolute; /* Абсолютное позиционирование */
    width: 150px; /* Ширина слоя в пикселах */
    height: 150px; /* Высота слоя в пикселах */
    left: 70%; /* Положение слоя от левого края */
    top: 70%; /* Положение слоя от верхнего края */
    margin-left: -190px; /* Отступ слева */
    margin-top: -190px;	/* Отступ сверху */
    padding: 10px; /* Поля вокруг текста */
    overflow: auto; /* Добавление полосы прокрутки */
}

