

body {
    background: url(https://santi4sound.files.wordpress.com/2016/06/scuffedstatic_blue1400x900.jpg?w=1200);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.block-tweet {
    height: 500px;
    width: 650px;
    word-break:break-all;
}

.dropdown-menu{
    background: #6d6f70;
}

.dropdown-menu li > a:hover{
    background: #6d6f70;
}

#navbar span, #navbar a, a, h1, h3, h4, p, label {
    color: white;
}

li {
    list-style-type: none;
}


.white {
    color: white;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 80px;
}